html, body
{
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.zoom
{
  z-index: 1;
  position: absolute;
  transition: transform .2s;
  left: 20px;
  top: 20px;
}

#home:hover
{
  transform: scale(1.5);
}

.controls
{
  z-index: 1;
  position: absolute;
}

#clear
{
  left: 95vw;
  top: 20px;
}

#undo
{
  left: 94.8vw;
  top: 74vh;
}

#plus
{
  left: 95vw;
  top: 83vh;
}

#minus
{
  left: 95vw;
  top: 91vh;
}

#question
{
  left: 30px;
  top: 90vh;
}

#sketch
{
  background: #ffffff;
  position:absolute;
  z-index: 0;
  left: 10px;
  top: 10px;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}
